---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About us">
  <section class="container max-w-full py-24 text-center">
    <h1 class="text-5xl font-bold py-6">About us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae inventore
      impedit repellat nisi minus nesciunt! Et sit amet tempore unde
      consectetur, voluptas ea magnam cum perferendis eum consequuntur eos
      dolores rem accusamus praesentium in laudantium expedita vel delectus ipsa
      blanditiis aut sint illum esse. Magni cupiditate consequatur officia illo
      iure consequuntur aut est autem cumque sit, ad earum recusandae
      perferendis. Temporibus ullam iure reprehenderit rem hic placeat quae
      voluptates, consectetur quod alias. <span></span> Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Vitae inventore impedit repellat nisi minus nesciunt!
      Et sit amet tempore unde consectetur, voluptas ea magnam cum perferendis eum
      consequuntur eos dolores rem accusamus praesentium in laudantium expedita vel
      delectus ipsa blanditiis aut sint illum esse. Magni cupiditate consequatur
      officia illo iure consequuntur aut est autem cumque sit, ad earum recusandae
      perferendis.
    </p>
  </section>
</MainLayout>
