---
import MainLayout from "../layouts/MainLayout.astro";
import BlogPost from "../components/BlogPost.astro";
---

<MainLayout>
  <section class="container max-w-full py-8">
    <h1 class="text-5xl font-bold text-center tracking-wide py-4">Top Blogs</h1>
    <main class="grid gap-x-10 gap-y-16 grid-cols-3 py-14">
      <BlogPost />
      <BlogPost />
      <BlogPost />
      <BlogPost />
      <BlogPost />
      <BlogPost />
    </main>
  </section>
</MainLayout>
