---
import { Image } from "astro:assets";
const { title, image, description, id } = Astro.props;
---

<a
  href=`/blog/${id}`
  class="border-[1.5px] rounded-lg transition-all hover:underline cursor-pointer hover:bg-gray-50 hover:scale-[102%]"
>
  <Image src={image} alt="Sample Image" class="rounded-t-lg aspect-video" />
  <main class="p-4">
    <h3 class="text-2xl font-medium">
      {title.length >= 36 ? title.slice(0, 36) : title}
    </h3>
    <p class="text-sm py-2 leading-snug">
      {description ? description : null}
    </p>
  </main>
</a>
