<nav class="bg-gray-400 py-4 max-w-full container">
  <ul class="flex gap-8">
    <li
      class="font-medium text-lg hover:scale-105 hover:text-gray-700 transition-all"
    >
      <a href="/">Home</a>
    </li>
    <li
      class="font-medium text-lg hover:scale-105 hover:text-gray-700 transition-all"
    >
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
